.content__cards {
  padding-top: 50px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 500px) {
  .content__cards {

    padding-top: 36px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}