.card {
  max-width: 282px;
  height: fit-content;
  overflow: hidden;
  object-fit: cover;

  background: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 10px;

}

@media screen and (max-width: 1080px) {
  .content__cards {
    
  }
}